*, body {
    padding: 0;
    margin: 0;
}
.header-area {
    display: flex;
    background-color: aquamarine;
    padding: 20px 50px;
}
.header-area .logo, .header-area .navigation {
    width: 50%;
}
.logo {
    display: flex;
}
.logo .logo-symbol {
    padding: 20px;
    background-color: #fff;
    border-radius: 50%;
}
.logo .logo-text {
    margin: 20px 0 0 10px;
}
nav ul {
    list-style: none;
}
nav ul li {
    float:left;
    padding: 15px;
}
nav ul li a {
    text-decoration: none;
    color: #000;
}
.main-header {
    display: flex;
    padding: 20px 100px;
    background-color: aquamarine;
}
.main-header .image-area, .main-header .text-area {
    width: 50%;
}
.main-header .image-area {
    display: flex;
    justify-content: center;
}
.main-header .text-area {
    width: 300px;
}
.main-header .image-area img {
    height: 300px;
    width: auto;
    border-radius: 40%;
}